@foreach (var problem in Model.MathProblems)
{
    if (problem.Value != null)
    {
        <li>
            <strong>Category:</strong> @problem.Key <br />
            <strong>Difficulty:</strong> @problem.Value.Difficulty <br />
            <strong>Description:</strong> @problem.Value.Description <br />
            <strong>Solution:</strong> @problem.Value.Solution
        </li>
    }
    else
    {
        <li>
            <strong>Category:</strong> @problem.Key <br />
            <em>No problem details available.</em>
        </li>
    }
}
